body{
    background-color: #33333310;
    padding: 0px;
    margin: 0px;
    font-family: sans-serif
    
}

.container-header{
   background-color: #fff;
   padding: 10px;
}

.header{
    color: #000;
    display: flex;
    justify-content: space-around;
    padding: 5px;
    align-items: center;
    
}

.header2{
    background-color: #000;
    padding: 13px;
    color: #fff;
    text-align: center;
    font-size: 15px;
}

.link-header2{
    color: #fff;
    text-decoration: none;
    margin: 15px;
    border: 1px solid ;
    border-radius: 5px;
    background-color: #F6A60C;
    border-color: #F6A60C;
    padding: 3px;
    font-size: 13px;
}

.menu-link{
    text-decoration: none;
    padding: 40px;
    color: #000;
}

.menu-link:hover{
    color: #F6A60C;
    transition: 300ms linear;
}

.figure{
    display: inline-block;
    position: relative;
    margin: auto;
}

.title-search{
    font-size: 5px;
    margin-top: 10px;
    margin-top: 15px ;
}

.search input{
    padding: 10px;
    margin: 15px;
    width: 15rem;
}

.search .button{
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
}

.search .input-search{
    height: 30px;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F6A60C;
    border: #000 2px solid;
    border-radius: 10px;
    position:absolute;
    top: 13rem;
    right: 19rem;
    font-size: 60px;
    color: white;
    text-shadow: 0px 0px 5px black;
    font-weight: bold
    
}


figure .title{
    position:absolute;
    top: 3rem;
    right: 38rem;
    font-size: 60px;
    color: white;
    text-shadow: 0px 0px 5px black;
    font-weight: bold
}

figure .subtitle{
    position:absolute;
    top: 6rem;
    right: 42rem;
    font-size: 35px;
    color: white;
    text-shadow: 0px 0px 5px black;
}


h1.title{
    text-align: center;
}

.title-cadastro{
    text-align: center;
}

.form-cadastro{
    text-align: center; 
    padding: 20px;
}

footer{
  text-align: center;
  border-top: 1px solid #333;
  bottom: 0;
  left: 0;
  height: 40px;
  position: fixed;
  width: 100%;
  padding: 5px;
}